---
title: Home
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  {% include head-tag.html %}
  <body>

    <!-- Weblings! Once you're happy with the state of the new site, remove this banner.
      - God bless your efforts. -->
    <style>
      div#top-notice {
        background: red;
      }
    </style>
    <div id="top-notice">
      We're transitioning to a new version of the website, so the information here is probably out of date. Until this banner is gone, you probably want the <a href="http://crucornell.com/old-site">OLD SITE</a>....
    </div>
    <!-- end of annoying red banner -->

    {% include header.html %}
    {% include navigation.html %}
    {% include carousel.html %}
    {% include call-to-action.html %}
    {% include footer.html %}
  </body>
</html>
