<ul id="call-to-action">
  <li class="cta" id="real-life">
    <a href="{{site.url}}/real-life.html">Real Life<span class='subtitle'>our weekly large group meetings</span></a>
  </li>

  <li class="cta" id="jesus-and-the-gospel">
    <a href="{{site.url}}/jesus-and-the-gospel.html">Jesus &amp;<br />The Gospel</a>
  </li>

  <li class="cta" id="community-groups">
    <a href="{{site.url}}/community-groups">Community Groups<span class='subtitle'>our small group meetings</span></a>
  </li>
</ul><!--/#call-to-action-->
