<!-- HEROES AND CAROUSEL -->

<script lang=javascript>
  $(document).ready(function(){ 
    $("#hero").easySlider({
        auto: true, 
        continuous: true,
        controlsShow: true,
        numeric: true,
        speed: 700,
        pause: 5000
    });
    $("#hero").css({ width: "880px",height: "350px" });
  }); 
</script>

<div id="hero">
  <ul>
    {% for post in site.posts %}
      {% if post.published == true %}
        <li><a href="{{site.baseurl}}/{{post.href}}"><img src="{{post.src}}" title="{{post.title}}" alt="" /></a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div><!--/#hero-->
