<!-- HEROES AND CAROUSEL -->

<script lang=javascript>
  $(document).ready(function(){ 
    $("#hero").easySlider({
        auto: true, 
        continuous: true,
        controlsShow: true,
        numeric: true,
        speed: 700,
        pause: 5000
    });
    $("#hero").css({ width: "880px",height: "350px" });
  }); 
</script>

<div id="hero">
  <ul>
    {% for post in site.posts %}
      {% if post.visible == true %}
        <li><a href="{{site.baseurl}}/{{post.href}}"><img src="{{post.src}}" title="{{post.title}}" alt="" /></a></li>
      {% endif %}
    {% endfor %}
    <!--
    <li><a href="im-new-here"><img src="assets/images/heroes/cru-logo-new.jpg"  alt="Cru @ Cornell Hero"  /></a></li>
    <li><a href="summer-christian-fellowship"><img src="assets/images/heroes/SCF-hero.jpg"  alt="Summer Christian Fellowship"  /></a></li>
    <li><a href="blog" title="Visit the blog!"><img src="assets/images/heroes/blogmoved.jpg"  alt="Blog frontpage hero"  title="Visit the blog!" /></a></li>
    <li><a href="real-life" title="Real Life, our weekly large-group meetings"><img src="assets/images/heroes/RL_hero.png"  alt="real life front page hero"  title="Real Life, our weekly large-group meetings" /></a></li>
    -->
  </ul>
</div><!--/#hero-->
