<div id="return_top">
   <a href="#header">&nbsp;</a>
 </div>
<div id="footer">
  <span id="copy">&copy; Copyright 2012</span><!--/#copy-->
  <br />
  <span id="name">Cornell Campus Crusade for Christ</span><!--/#name-->
  <script src="http://bible.logos.com/jsapi/Referencetagging.js" type="text/javascript"></script>
  <script type="text/javascript">
    Logos.ReferenceTagging.lbsBibleVersion = "ESV";
    Logos.ReferenceTagging.lbsLibronixBibleVersion = "ESV";
    Logos.ReferenceTagging.lbsLibronixLinkIcon = "light";
    Logos.ReferenceTagging.lbsNoSearchTagNames = [ "h1", "h2", "h3" ];
    Logos.ReferenceTagging.lbsCssOverride = true;                 Logos.ReferenceTagging.tag();
  </script>
</div><!--/#footer-->
