<ul id="navigation">
  <li class="{%if page.url == '/index.html' %}current_page_item{%else%}page_item{%endif%}"><a href="{{site.url}}/">HOME</a></li>
  <li class="{%if page.url contains 'im-new-here'%}current_page_item{%else%}page_item{%endif%}"><a href="{{site.url}}/im-new-here">I'm New Here</a></li>
  <li class="{%if page.url contains 'news-and-events'%}current_page_item{%else%}page_item{%endif%}">
    <a href="http://crucornell-ne.tumblr.com">News and Events</a></li>
    <!---CHANGE HERE 
  <li class="{%if page.url contains 'blog'%}current_page_item{%else%}page_item{%endif%}"><a href="http://crucornell.tumblr.com">Blog</a></li>
  --->
  <li class="{%if page.url contains 'about-us'%}current_page_item{%else%}page_item{%endif%}"><a href="{{site.url}}/community-groups">Community Groups</a></li>
  <li class="{%if page.url contains 'about-us'%}current_page_item{%else%}page_item{%endif%}"><a href="{{site.url}}/about-us">About Us</a></li>
</ul><!--/#navigation-->
